body{
    font-family: 'open sans';
    background-image: url("/Mes_Exos/Mini_Projet/Images/img-bg.jpg");
    background-size: cover;
    text-decoration: none;
}
header{
    width: 100%;
    height: 80px;
    background-color: rgb(0, 6, 36);
    margin-top: -1%;
}
.img-header{
    width: 57px;
    height: 87px;
    margin-left: 3%;
}
.label-header{
    font-family: 'open sans';
    position: absolute;
    float: left;
    margin-top: -5%;
    color: white;
    font-style: bold;
    font-size: 200%;
    margin-left: 35%;
}
.logo-quiz{
    height: 100px;
    width: 100px;
}
.sous-entete{
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    height: 80px;
    background-color: #6fcff5;
}
.sous-entete-joueur{
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    height: 80px;
    background-color: #6fcff5;
}

.label-login{
    background-color: #6fcff5;
    width: 100%;
    height: 50px;
}
.label{
    font-family: 'open sans';
    font-size: 100%;
    margin-top: 25%;
    color: white;
    margin-left: 5%;
    font-style: bold;
}
.libelle-sous{
    font-family: 'open sans';
    position: absolute;
    color: white;
    margin-left: 20%;
    font-size: 200%;
    margin-top: 1%;
    font-style: bold;
}
.libelle-sous-joueur{
    font-family: 'open sans';
    position: absolute;
    color: white;
    margin-left: 20%;
    font-size: 150%;
    margin-top: -6.5%;
    font-style: bold;
}
.input-login{
    font-family: 'open sans';
    font-size: 100%;
    height: 50px;
    width: 80%;
    font-style: bold;
    margin-left: 10%;
    margin-top: 5%;
}
.input-password{
    font-family: 'open sans';
    font-size: 100%;
    height: 50px;
    width: 80%;
    margin-top: 2%;
    font-style: bold;
    margin-left: 10%;
}
.connexion{
    margin-top: 10%;
    margin-left: 25%;
    width: 40%;
    height: 325px;
    background-color: white;
}
.icon-login{
    float: right;
    margin-right: 3%;
    margin-top: 8%;
}
.icon-password{
    float: right;
    margin-right: 3%;
    margin-top: 5%;
}
.btn-connexion{
    background-color: #6fcff5;
    border-radius: 5px;
    height: 40px;
    width: 25%;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 5%;
    color: white;
    font-family: 'open sans';
}
.btn-deconnexion{
    background-color: #6ef2f6;
    border-radius: 5px;
    height: 40px;
    width: 10%;
    position: absolute;
    color: white;
    margin-left: 75%;
    margin-top: 2%;
    font-family: 'open sans';
}
.btn-deconnexion-j{
    background-color: #6ef2f6;
    border-radius: 5px;
    height: 40px;
    width: 10%;
    position: absolute;
    color: white;
    margin-left: 75%;
    margin-top: -5%;
    font-family: 'open sans';
}
.lien-inscri{
    text-decoration: none;
    font-family: 'open sans';
    color: grey;
    font-size: 100%;
    font-style: bold;
    margin-left: 5%;
}
.container{
    width: 90%;
    height: 650px;
    margin-left: 5%;
    background-color: rgb(226, 225, 225);
}
.contenu{
    float: left;
    width: 30%;
    height: 400px;
    margin-top: 10%;
    margin-left: 5%;
    border-radius: 10px;
    background-color: rgb(243, 240, 240);
}
.profil{
    background-image: linear-gradient(white, skyblue);
    height: 170px;
}
.profil_joueur{
    background-image: linear-gradient(skyblue);

}
.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    margin-left: 20%;
    margin-top: 10%;
    border-radius: 50%;
    background-color: rgb(226, 225, 225);

  }
  .avatar_joueur {
    vertical-align: middle;
    width: 55px;
    height: 55px;
    margin-left: 5%;
    border-radius: 50%;
    background-color: rgb(226, 225, 225);

  }
  .label_identy{
    text-decoration: none;
    font-family: 'open sans';
    color:white;
    font-size: 120%;
    margin-left: 1.5%;
  }
.menu{
    margin-top: 10%;
}
.label-decor{
    text-decoration: none;
}
.label-menu{
    text-decoration: none;
    font-family: 'open sans';
    color: gray;
    font-size: 120%;
    margin-left: 2%;
}
.icon-menu{
    position: absolute;
    margin-left: 23%;
}
.content{
    float: left;
    background-color: #eaecec;
    width: 45%;
    margin-left: 35%;
    margin-top: 5%;
    height: 550px;
    position: absolute;
    box-shadow: 4px 4px 4px 4px #aaa;
}
.border_content{
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    height: 450px;
    border: solid;
    border-color: skyblue;
    position: absolute;
    text-decoration: none;
}
.border_content_lq{
    border-radius: 10px;
    margin-top: 0%;
    margin-left: 15%;
    width: 70%;
    height: 450px;
    border: solid;
    border-color: skyblue;
    position: absolute;
    text-decoration: none;
}
.title{
    float: left;
    margin-left: 25%;
    font-size: 20px;
    font-style: italic;
    color: grey;
}
.btn{
    float: left;
    margin-left: -12%;
    margin-top: 89%;
    position: absolute;
    background-color: #6ef2f6;
    color: white;
    width: 20%;
    height: 30px;
    text-decoration: none;
    border-radius: 5px;
}
.btn_ok{
    border-radius: 4px;
    background-color: rgba(9, 9, 109, 0.748);
    color: white;
    height: 30px;
}
.input-number{
    width: 5%;
}
.label-input{
    margin-left: 25%;
    font-size: 20px;
    color: grey;
    font-family: 'open sans';
}
.erreur{
    color: red;
    margin-left: 20%;
    font-family: 'open sans';
    font-style: bold;
    margin-top: 5%;
}